.footer {
    padding-bottom: .25rem;
}

.ftBar {
    width: 35px;
    height: 55px;
    background: #158ff7 url(../images/gear.svg)no-repeat center / 60%;
    position: absolute;
    top: 70px;
    left: -35px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: none;
}

.nav-side {
    max-width: 270px;
    min-height: unset;
    height: 100vh;
    top: 0;
    background-size: cover;
    padding-bottom: 100px;
}

.nav-side .logo {
    width: 100%;
    height: 80px;
    margin: 0;
    background-size: 50%;
    background-position: center;
}

.game-container {
    margin-bottom: 50px;
}

.menuCnt {
    height: 100%;
    overflow: auto;
}

.menu-inner li:last-child {
    margin-top: 40px;
}

@media screen and (orientation: landscape) {
    .header {
        height: 60px;
    }
    .footer {
        width: 80px;
        top: 0;
        right: 0;
        left: unset;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        box-shadow: -5px 0 4px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: .5s;
        z-index: 20;
    }
    .footer.on {
        transform: translateX(0%);
    }
    .ftBar {
        display: block;
    }
    .game-container {
        display: flex !important;
        flex-wrap: wrap;
    }
    .game-container .game-list {
        width: 50%;
        padding: 5px;
    }
    .swiper-slide {
        width: 100% !important;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        /* flex-direction: column-reverse; */
    }
    .banner-section {
        order: 1;
    }
}