.footer {
    padding-bottom: .25rem;
}

.nav-side {
    max-width: 300px;
    overflow: auto;
    min-height: unset;
    height: 100vh;
    top: 0;
    background-size: cover;
    padding-bottom: 100px;
}

.nav-side .logo {
    width: 100%;
    margin: 0;
    background-size: 50%;
    background-position: center;
}

@media screen and (orientation: landscape) {
    .header {
        width: calc(100vw - 80px);
        right: 0;
        left: unset;
    }
    .footer {
        width: 80px;
        top: 0;
        display: flex;
        flex-direction: column;
        z-index: 20;
        border-radius: 0;
        box-shadow: 5px 0 4px rgba(0, 0, 0, 0.2);
    }
    .main-content {
        padding-left: 80px;
    }
}